body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100vh;
    gap: 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/11;
    background-color: aquamarine;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aeaeae;
    grid-column: 1/3;
    grid-row: 2/10;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c95757;
    grid-column: 3/11;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    grid-column : 3/11;
    grid-row: 3/10;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #664bab;
    grid-column: 1/11;
}

