body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    background-color: aquamarine;
    grid-column: 3/6;
    grid-row: 1/6;
}

.item1 {
    background-color: rgb(43, 106, 85);
    grid-column: 1/3;
    grid-row: 1/3;
}

.item2 {
    background-color: rgb(94, 120, 111);
    grid-row: 3/6;
    grid-column: 1/3;
}